header ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    list-style-type: none;
    vertical-align: middle;
    padding-left: 0;
    color: black;
}