#header-banner{
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    position: relative;
}
#header-banner-card{
    display: flex;
    background-color: #FFF3E3;
    width: 643px;
    height: 323px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "Poppins", sans-serif;;
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
    box-sizing: border-box;
    position: absolute;
    right: 5%;
    bottom: 0;
}
#header-banner-card p{
    margin: 4.5em auto;
}