.rate-stars{
    display: flex;
    gap: 6px;
    justify-content: left;
}
.rate-stars img{
    height: 18px;
    width: 18px;
    margin: auto 0;
    align-items: center;
}
.rate-stars p{
    color: #9F9F9F;
}
.divider{
    height: 2em;
    border: none;
    border-left: 2px solid #9F9F9F;
    margin: 0 1em;
}